# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Git\IFS-Scheduler-Version---2---Backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
